a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    
        font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;

}
.logo{
        color: #4d5ae5;
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-web{
    color:#2e2f42;
}
.nav-text{
        color: #2E2F42;
        /* Body Medium */
        
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.home{
    font-style: normal;
}

.logo:hover,
.logo:focus{
    color:#404BBF
}
.nav-text:hover,
.nav-text:focus {
    color: #404BBF;
}
.address-text{
    color:#434455;
    
        /* Body */
        
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.address-text:hover,
.address-text:focus{
    color:#404BBF;
}
/* hero */
.solutions{
    color:  #FfffFF;
        text-align: center;
    
        /* Header 1 */
        
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 0.02em;
}
/* section 1 */
.section-one{
    background-color: #2E2F42;
}
.but-order{
    font-family: "Roboto", sans-serif;
        background: #4D5AE5;
        cursor: pointer;
        color: #FFFFFF;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            /* 150% */
            letter-spacing: 0.04em;
}
.but-order:hover,
.but-order:focus{
    background-color:#404BBF;
}

/* section 2 */
.features{
    color:#2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    /* 120% */
    letter-spacing: 0.02em;
}
.features-text{
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
/* section 3 */
.sec-three{
    background-color: #F4F4FD;
}
.three-num{
    background-color: #FFFFFF
}
 /* < !--section portfolio--> */
.headline{
    color:#2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.employees{
        color:#2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}


.human{
    text-align: center;
}
.studio{
color: #4d5ae5;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.end{
    background: #2E2F42;
}
.logo-stu{
    color:#F4F4FD;
}
.end-text{
color:  #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
